<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Product App</title>
        <link rel="stylesheet" type="text/css" href="product_style.css">
    </head>
    <body>

        <div class="nav-bar"></div>

        <div id="app">
            <div class="product">
                <!-- The {{ }} are expressions. They pull settings from the javascript.-->
                <div class="product-image">
                    <img v-bind:src="image" v-bind:alt="description" />  <!-- v-bind: dynamically binds an attribute to an expression -->
                                                                         <!-- a shorthand method is to just use the colon. <img :src="image"> -->
                </div>

                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <p v-if="inventory > 10">In Stock</p>  <!-- Conditional Rendering -->
                    <p v-else-if="inventory<= 10 && inventory > 0">Almost sold out!</p>
                    <p v-else>Out of Stock</p>
                    <p v-if="onSale">On Sale!</p>
                    <p v-show="inStock">Buy Today!</p> <!-- v-show also conditionally shows thing. v-if adds and removes elements from the DOM.-->
                                                       <!-- v-show just hides/unhides through CSS. Better for performance.-->
                    <p>{{ description }}</p>
                    <a v-bind:href="link">Link to Vue Mastery!</a>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="main.js"></script>
    </body>
</html>